*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/shelf/
/.gcloudignore
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.DS_Store
/build
/.idea/gradle.xml
/.idea/misc.xml
/captures
.externalNativeBuild
.cxx
local.properties
