<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Quash! Let's set up your workspace</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body style="margin: 10px; padding: 50px; font-family: 'Inter', sans-serif; background-color: #f4f4f4;">
<table role="presentation"  align-items="center"
       style="max-width: 640px; margin: 50px auto; background-color: #fff; border-radius: 5px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">

    <tr>
        <td style="display: flex; padding-left: 40px; align-items: center; text-align: center; height: 88px; background-color: #000;">
            <img src="https://storage.googleapis.com/quashbugs.com/Logo%20(1).png" alt="Quash Logo"
                 style="padding-top: 32px; max-width: 20%; height: 24px;" />
        </td>
    </tr>


    <tr>
        <td style="padding-left: 40px; padding-top: 32px; padding-right: 67px;">
            <h2 style="color: #212121; font-size: 28px; font-style: normal; font-weight: 600; line-height: normal; margin-top: 0; margin-bottom: 0; padding-bottom: 40px;">
                Welcome to Quash!
            </h2>
            <div style="color: #212121; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                <p style="margin-top: 0;">Your team can now <b>save 70% of your debugging</b> time by reporting and resolving bugs through Quash.</p>
                <p style="margin-bottom: 0;">Let's get you started...</p>
            </div>

            <!-- Add Quash to your application -->
            <div style="width: 464px; color: #212121; margin-top: 40px;">
                <div style="display: flex;justify-content: center; align-items: center;  gap: 16px;">
                    <div>
                        <img src="https://storage.googleapis.com/misc_quash_static/add_quash_to_your_application.png" alt="Add_Quash_to_your_application" style="padding-top: 12px; padding-right: 16px;">
                    </div>
                    <div>
                        <h3 style="margin: 0; font-size: 20px; margin-top: 0; font-style: normal; line-height: normal;">
                            Add Quash to your application
                        </h3>
                        <p style="margin-top: 8px; margin-bottom: 0; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                            To get started, add Quash SDK as a dependency in your project and initialize it. Know more
                            <a href="${frontend_base_url}/addquash" target="_blank">here</a>.
                        </p>
                    </div>
                </div>

                <!-- Report your first bug -->
                <div style="display: flex; justify-content: center; align-items: center; gap: 16px; margin-top: 32px;">
                    <div>
                        <img src="https://storage.googleapis.com/misc_quash_static/report_your_first_bug.png" alt="Auto-captured_crashes" style="padding-top: 12px; padding-right: 16px;">
                    </div>
                    <div>
                        <h3 style="margin-bottom: 0; margin-top: 0; font-size: 20px; font-style: normal; line-height: normal;">
                            Report your first bug
                        </h3>
                        <p style="margin-top: 8px; margin-bottom: 0; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                            Once initialized, simply shake your device to report a bug with Quash.
                        </p>
                    </div>
                </div>

                <!-- Auto-captured crashes -->
                <div style="display: flex; justify-content: center; align-items: center; gap: 16px; margin-top: 32px;">
                    <div>
                        <img src="https://storage.googleapis.com/misc_quash_static/auto_captured_crashes.png" alt="Invite_your_team_members" style="padding-top: 12px; padding-right: 16px;">
                    </div>
                    <div>
                        <h3 style="margin-bottom: 0; margin-top: 0; font-size: 20px; font-style: normal; line-height: normal;">
                            Auto-captured crashes
                        </h3>
                        <p style="margin-top: 8px; margin-bottom: 0; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                            Quash will automatically recognize all your app crashes and will prompt you to report them.
                        </p>
                    </div>
                </div>

                <!-- Invite your team members -->
                <div style="display: flex; justify-content: center; align-items: center; gap: 16px; margin-top: 32px;">
                    <div>
                        <img src="https://storage.googleapis.com/misc_quash_static/invite_your_team_members.png" alt="Report_your_first_bug" style="padding-top: 12px; padding-right: 16px;">
                    </div>
                    <div>
                        <h3 style="margin-bottom: 0; margin-top: 0; font-size: 20px; font-style: normal; line-height: normal;">
                            Invite your team members
                        </h3>
                        <p style="margin-top: 8px; margin-bottom: 0; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                            Collaborate with your team by adding them to your workspace <a href="${frontend_base_url}/settings/members" target="_blank">here</a>.
                        </p>
                    </div>
                </div>
            </div>

            <div style="margin-top: 40px; width: 533px;">
                <p style="margin: 0;"> If you're having any trouble setting things up, just reply back to this email and we'll be happy to help!</p>
            </div>
        </td>
    </tr>

    <tr>
        <td style="text-align: center; margin-top: 40px; font-size: 12px; height: 80px;">
            <hr style="width: 560px; background: #BDBDBD; margin-bottom: 24px;">
            <a href="https://quashbugs.com/" target="_blank" style="justify-content: center; color: #606060; text-decoration: none; color: #606060; ">www.quashbugs.com</a>
        </td>
    </tr>

</table>
</body>

</html>